# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
.next
out

# Cache
.cache
*.log

# Artifacts
artifacts
cache
coverage

# Config
.env
.env.*

# Lock files
yarn.lock
pnpm-lock.yaml